* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
/* blog */
.section-cont {
    display: flex;
    justify-content: center;
}
.section {
    font-family: 'Caveat', cursive;
    color: #2c583a;
    font-size: 55px;
    margin: 3%;
} 

/* navbar top */
.navbar {
    background: #feeec7 !important;
}
.nav-link{
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    margin-left: 10px;
}
.nav-link:hover {
    transition: .5 ease-in-out !important;
    transform: scale(1.1);
    color: #2c583a !important;
}
body{
    width: 100%;
    background-image: url(../UI/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-container {
    background-color: rgba(243, 251, 251, 0.9);
    margin: 50px 10px 50px 10px;
    border-radius: 20px;
}
.blog-title {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.blog-title h1, h2, h3, h4 {
    margin: auto;
}
.blog-title h1 {
    color:#2c583a;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 55px;
    font-family: 'Caveat', cursive;
}
p, li {
    font-size: 18px;
}
.blog-title h3 {
    font-size: 40px;
    font-family: 'Caveat', cursive;
    color: #f78a4b
}
.info-cont {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.info {
    display: flex;
    text-decoration: underline;
}
.info svg {
    padding-right: 10px;
    color: #2c583a;
   
}
.info p {
    color: #2c583a;
    font-size: 20px;
}
.scrBtn{
    color:#f78a4b;
    border-radius: 50%;
    font-size: 18px;
    border: none;
    
}
#scrollTop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
}
/* footer */
.footer-cont {
    background: #feeec7 !important;
}
.footer-link {
    margin-top: 20px !important;
}
@media screen and (max-width:750px){
    .section {
        font-size: 40px;
    }
}